@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


/*---------------- NAVIGATION BAR ------------------ */
#nav-bar
{
    position: sticky;
    margin-top: 0;
    top: 0;
    z-index: 10;
}
.navbar-brand img{
    height: 40px;
    padding-left: 30px;
}
.navbar-nav li
{
    padding: 0 10px;;
}
.navbar-nav li a
{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover
{
    color: #007bff !important ;
}


#nav-bar.bg-dark {
    background-color: #5b0000; /* Replace #334455 with your desired color */
}
.navbar-toggler
{
    border: none !important;
}
.nav-link
{
    color: #9d9d9d !important ;
    font-weight: 600;
    font-size: 16px;
}

/* Ensure the navbar items are flex-aligned and the search form takes maximum width */
#navbarSupportedContent {
    display: flex;
    justify-content: space-between; /* Adjust this as needed */
    align-items: center;
}

/* Style the search input to be wider */
.navbar .d-flex {
    flex-grow: 1;
    justify-content: center;
}

.navbar .form-control {
    width: 60%; /* Adjust the width as needed */
}

#nav-bar .container {
    max-width: 88%; /* Adjust this value to control the width */
    margin: auto; /* This centers the container */
}


.nav-item h5{
    font-size: 14px;
}


/*---------------------RECOMMENDED CONTAINER ----------------------------*/

*{
    box-sizing: border-box;
    font-family: "Montserrat";
    padding: 0;
    margin: 0;
}

.product{
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

body{
    width: 100%;
    padding: 0px;
}

body #product-list{
    padding: 40px 120px 120px 120px;
}

.main_container{
    display: grid;
    grid-template-columns: auto auto auto auto; /* How many colums to display to user */
    gap: 30px;

}

.recentlyViewed_container{
    display: grid;
    grid-template-columns: auto auto auto auto; /* How many colums to display to user */
    gap: 30px; 
}

.product img{
    width: 100%;
    border-top-right-radius: 20px;
    
}

.product_description{
    text-align: center;
    padding: 20px 0px;
}

.product_description h3{
    font-size: 16px;
    padding: 5px 0px;
}

.product_description p{
    font-size: 14px;
}

.checked{
    color: orange;
}




#product-list h2{
    font-size: 24px;
    font-family: 'Montserrat';
    font-weight: bold;
}



.filter-section {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}


/*--------------------------------------FILTER/Categories------------------------*/
.category-trigger {
    display: inline-block;
    padding: 8px 15px; /* Adjust padding to change size */
    background-color: #007bff; /* Bootstrap primary color */
    color: white; /* Text color */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Changes cursor to indicate clickability */
    transition: background-color 0.2s; /* Smooth background color transition on hover */
    align-content: center;
}

.category-trigger:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
    text-decoration: none; /* Removes underline from link */
}

#Filter .container{
    max-width: 90%; /* Adjust this value to control the width */
    margin: auto; /* This centers the container */
}

/*------Footer-----*/
#footer
{
    background: #333;
    color: #fff;
    padding: 12px;
}


/* ----------------------------------------ABOUT US --------------------------------------------------------*/

.quote_container{
    margin: 0 auto; 
    display: block; 
    width: 86%; 
}

blockquote{
    padding:80px 50px;
    text-align: center;
    background-color: #333;
}
 

blockquote p {
    font-size: 24px;
    font-style: italic;
    text-align: center;
    color: #fff;
}

.about-content{
    display: grid;
    justify-content: start;
    justify-content: left;
}

#about .container{
    background-color: #b0b0b0;
    background-color: #fff;
}


/*-----Carousel----*/

.carousel-item img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 86%;   
}

/*-----------------------Cart-details-----------------*/
.cart-page{
    margin: 70px auto;
}
table{
    width: 75%;
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5PX;
    color: #000000;
    background:#D3D3D3;
    font-weight:normal;

}
td{
    padding:10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color:#0000FF;
    font-size: 12px;
}
td img{
    width:140px;
    height: 160px;
    margin-right: 10px;
}
.small-container {
    width: 75%; /* Adjust the width as needed */
    margin: 70px auto;
}

.price-container {
    display: flex;
    justify-content: flex-end;
}

.subtotal,
.total-price {
    margin-left: auto;
}

.subtotal table,
.total-price table {
    border-collapse: collapse;
    width: 100%;
    max-width: 350px;
}

.total-price {
    margin-left: 20px; /* Add space between subtotal and total price */
}

/*-----------------------Recommended products-----------------*/
#recommended-buys {
    float: right;
    width: 25%;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#recommended-buys h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.recommended-products {
    display: flex;
    flex-direction: column;
}

.product {
    margin-bottom: 20px;
}

.product img {
    width:140px;
    height: 160px;
    margin-right: 10px
}

.product-description {
    padding: 10px;
    background-color: #fff;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.product-description h3 {
    font-size: 16px;
    padding: 5px 0px;
}

.product-description p {
    font-size: 14px;
}

/*-----------------------FAQ-----------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.wrapper
{
    max-width: 80%;
    margin: auto;
}

.wrapper > p,
.wrapper >h1
{
    margin: 1.5rem 0;
    text-align: center;
}

.wrapper >h1
{
    letter-spacing: 3px;
}

.accordion
{
    background-color: white;
    color: rgba(0,0,0,0.8);
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
    padding: 2rem, 2.5rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items:center;
    font-weight: bold;
    
}

.accordion i 
{
    padding: 2rem;
    font-size: 1.6rem;
    

}

.active,
.accordion:hover
{
    background-color: #f1f7f5;
}

.panel
{
    padding: 0 2rem 2.5rem 2rem;
    background-color: white;
    display: none;
    overflow: hidden;
    background-color: #f1f7f5;
    
}

.panel p
{
    color: rgba(0,0,0,0.7);
    font-size: 1.2rem;
    line-height: 1.4;
}

.faq
{
    border: 1px solid rgba(0,0,0,0.1);
    margin: 10px 0;
}

.faq.active
{
    border: none;
}


.account-page {
    background-color: #f9f9f9;
    padding: 50px 0;
}
.sidebar {
    background-color: #212529;
    color: white;
    text-align: center;
    padding: 20px;
}
.sidebar a {
    color: white; /* Set the color of the links */
    text-decoration: none;
    margin-bottom: 15px;
    display: block;
}
.content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}
.card {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}
.card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.star-rating {
    display: inline-block;
    font-size: 20px;
    color: #ffc107; /* Yellow color for filled stars */
}
.star-rating .fa-star {
    margin-right: 5px;
}
.sidebar button {
    margin-top: 20px;
    background-color: #B0B0B0; /* Grey color */
    color: white;
    border: none;
    padding: 8px 16px; /* Adjusted padding for a smaller button */
    border-radius: 4px; /* Adjusted border radius */
    width:200px
}

.sidebar button:hover {
    background-color: #5a6268; /* Darker grey color on hover */
    
}



/*-----------------------Footer-----------------*/

.footer {
    background-color: #f8f9fa; /* Footer background color */
    padding: 50px 0; /* Adjust padding as needed */
}

.footer h5 {
    color: #343a40; /* Heading color */
}

.footer p {
    color: #6c757d; /* Paragraph text color */
}

.social-icons {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons li:last-child {
    margin-right: 0;
}

.social-icons a {
    color: #6c757d; /* Icon color */
    font-size: 20px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #007bff; /* Icon color on hover */
}




