{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8"> <!---Character encoding-->
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0"> <!--For Different device (Compatibility)-->

    <!-- External Libraries-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">


    <link rel = "stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <title>Your Listings</title>

</head>

<body>
    <!---------------------------NAVIGATION BAR------------------------------>
    <section id="nav-bar">
        <div class="container"> 
            <nav class="navbar navbar-expand-lg bg-body-tertiary" style="height: 80px;">
                <div class="container-fluid">
                    <a class="navbar-brand-sell" href="{% url 'products' %}" style="text-decoration: none;">UniTrade</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    </div>
                </div>
            </nav>
        </div>
    </section>


    <section id="Current-Listings">

        <div class="container-listing">

            <h1>My Listings >></h1>
            <div class ="row">

                <div class = "col-md-3">
                    <div class="card">
                        <div class="card-header">
                          Department
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                           <a href="{% url 'current' %}">All</a>
                          </li>
    
                          {% for department in departments %}
                          <li class="list-group-item">
                            <a href="{% url 'current' %}?department={{department.name}}">
                                {{department.name}} 
                            </a>
                          </li>
                          {% endfor %}
                          
            
                          
                        </ul>
                      </div>
    
    
                </div>
                <div class = "col-md-9">
                    <div class="row">
                        

                        {% for product in products %}
                    

                            <div class="col-md-4">
                                <div class="card my-2">
                                    <img class="card-img-top"
                                        src="/images/{{ product.productimage_set.first.imageURL }}"
                                        alt="loading">
                                    <div class="card-body">
                                        <small>{{ product.title }}</small>
                                    </div>
                                    <a href="{% url 'item' product.product_id %}" class="btn btn-outline-dark btn-sm m-1">View</a>
                                </div>
                            </div>



                        
                            {% empty %}
                            <h3>No Current Listing... </h3>
                        {% endfor %} 
                        
                    </div>
                </div>
                    


                    <div class="col d-flex justify-content-center align-items-center">
                    <a href="{% url 'condition' %}" class="icon-link d-flex justify-content-center align-items-center" style="width: 100%; height: 100%;">
                        <i class="fas fa-plus mb-1"></i> <!-- Plus icon -->
                    </a>
                </div>
            </div> 
           </div>              
        </div>
    </section>
    <br>
    <br>


<!-------Footer------>
<!------------Footer---------------->
<section id="footer">

    <div class="container text-center">
        <br>
        <div>
            <a style="color: #fff; font-size: x-large;" href="https://twitter.com/?lang=en"><span style="padding-left: 16px;"><i class="fa-brands fa-x-twitter"></span></i></a>
            <a style="color: #fff; font-size: x-large;" href="https://www.instagram.com/unitrade12/"><span style="padding-left: 16px;"><i class="fab fa-instagram"></span></i></a>
            <a style="color: #fff; font-size: x-large;" href="https://www.youtube.com/"><span style="padding-left: 16px;"><i class="fab fa-youtube"></span></i></a>
            <a style="color: #fff; font-size: x-large;" href="https://en-gb.facebook.com/"><span style="padding-left: 16px;"><i class="fab fa-facebook"></span></i></a>
        </div>
      <div class="footer-columns d-flex justify-content-between">
        <ul class="main-footer-groups 1">
          <li class="same-as-above-idek">
          </li>
        </ul>
        <ul class="main-footer-groups 2">
          <li class="same-as-above-idk">
            <br>
            <a style="color: #fff; text-decoration: none;" href="{% url 'aboutus' %}"><span style="padding-left: 20px;">About Us</span></a>
            <a style="text-decoration: none; color: #fff;" href="{% url 'products' %}"><span style="padding-left: 20px;">Contact Us</span></a>
            <a style="color: #fff; text-decoration: none;" href="{% url 'current' %}"><span style="padding-left: 20px;">Sell With Us</span></a>
            <a style="text-decoration: none; color: #fff;" href="{% url 'faq' %}"><span style="padding-left: 20px;">FAQ's</span></a>
            <a style="color: #fff; text-decoration: none;" href="{% url 'termsandconditions' %}"><span style="padding-left: 20px;">Terms And Conditions</span></a>
            <a style="color: #fff; text-decoration: none;" href="{% url 'privacypolicy' %}"><span style="padding-left: 20px;">Privacy Notice</span></a>

          </li>
        </ul>
        <ul class="main-footer-groups 3">
            <li class="same-as-above-idek">
            </li>
        </ul>
      </div>
    </div>
  
  </section>
      </body>
  </html>
    