{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8"> <!---Character encoding-->
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0"> <!--For Different device (Compatibility)-->

    <!-- External Libraries-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">


    <link rel = "stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <title>Home Equipment</title>

</head>



<body>
     <!---------------------------NAVIGATION BAR------------------------------>
     <section id="nav-bar">
        <div class="container"> 
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'products' %}">UniTrade</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                       
                        <!-- Search form -->
                        <form class="d-flex form-inline my-2 my-lg-0" role="search" method="POST" action="{% url 'search_view' %}">
                            {% csrf_token %}
                            <input class="form-control mr-sm-2" type="search" placeholder="Search"name= "search_query"aria-label="Search">
                    
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
    
                        <!-- New navbar items -->
                        <ul class="navbar-nav mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link d-flex flex-column align-items-center" href="#">
                                    <span class="fa fa-bell mb-1"></span>
                                    <h5>Notifications</h5>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex flex-column align-items-center" href="{% url 'signup' %}">
                                    <span class="fa fa-user-plus mb-1"></span>
                                    <h5>Sign Up</h5>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex flex-column align-items-center" href="#">
                                    <span class="fa fa-box mb-1"></span>
                                    <h5>My Orders</h5>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex flex-column align-items-center" href="#">
                                    <span class="fa fa-shopping-cart mb-1"></span>
                                    <h5>Shopping Cart</h5>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </section>

    <!----------------------MINI NAV_BAR FOR FILTER----------------->

    <section id="Filter">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light" style="color: #fff;"> <!-- Add your desired classes for styling -->
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <span role="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions" class="nav-link category-trigger" style="cursor:pointer;">All</span>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Today's Deals</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'aboutus' %}">About us</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">History</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{% url 'current' %}">Sell</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Hello, {{user.email}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <h2>Trending</h2>
            <hr>
            <p>New Items Added</p>

            <br> 
            
            <h2>Shop by Department</h2>
            <hr>
            <a aria-current="page" href="{% url 'technology' %}" style="text-decoration: none; color: black;"><p>Technology</p></a>
            <a aria-current="page" href="{% url 'electroniccomputers' %}" style="text-decoration: none; color: black;"><p>Electronics & Computers</p></a>
            <a aria-current="page" href="{% url 'filmTvMusic' %}" style="text-decoration: none; color: black;"><p>Film, Tv, Music</p></a>
            <a aria-current="page" href="{% url 'education' %}" style="text-decoration: none; color: black;"><p>Education</p></a>
            <a aria-current="page" href="{% url 'homeEquipment' %}" style="text-decoration: none; color: black;"><p>Home Equipments</p></a>
            <a aria-current="page" href="{% url 'books' %}" style="text-decoration: none; color: black;"><p>Books & Literature</p></a>
            <a aria-current="page" href="{% url 'sportsleisure' %}" style="text-decoration: none; color: black;"><p>Sports & Leisure</p></a>

            <br>

            <h2>Help & Settings</h2>
            <hr>
            <a aria-current="page" href="{% url 'account' %}" style="text-decoration: none; color: black;"><p>Your Account</p></a>
            <p>Customer Service</p>
            <a href="{% url 'faq' %}" style="text-decoration: none; color: black;"><p>FAQ</p></a>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Log Out</button>
            </form>            
        </div>
        </div>
    </section>



    <!-- MAIN CONTENT (LIST OF PRODUCTS)-->

    <section id="product-list">

    <a href="#" style="color: #000; text-decoration:none;"><h2>Home Equipment >></h2></a>
    <div class="main_container">

    

            {% for product in products %}
                <div class="col-md-4">
                    <div class="card my-2">
                        <img class="card-img-top"
                            src="/images/{{ product.productimage_set.first.imageURL }}"
                            alt="loading">
                        <div class="card-body">
                            <small>{{ product.title }}</small>
                            <small>Price: {{ product.price }}</small> <!-- Assuming 'name' is the field containing the department name -->
                        </div>
                        <a href="{% url 'item' product.product_id %}" class="btn btn-outline-dark btn-sm m-1">View</a>
                    </div>
                </div>
            {% empty %}
                <h3>No Current Products... </h3>
            {% endfor %}
        </div>
    </div>



    
    </section>






<!-------Footer------>
<!------------Footer---------------->
<section id="footer">

    <div class="container text-center">
        <br>
        <div>
            <a style="color: #fff; font-size: x-large;" href="https://twitter.com/?lang=en"><span style="padding-left: 16px;"><i class="fa-brands fa-x-twitter"></span></i></a>
            <a style="color: #fff; font-size: x-large;" href="https://www.instagram.com/unitrade12/"><span style="padding-left: 16px;"><i class="fab fa-instagram"></span></i></a>
            <a style="color: #fff; font-size: x-large;" href="https://www.youtube.com/"><span style="padding-left: 16px;"><i class="fab fa-youtube"></span></i></a>
            <a style="color: #fff; font-size: x-large;" href="https://en-gb.facebook.com/"><span style="padding-left: 16px;"><i class="fab fa-facebook"></span></i></a>
        </div>
      <div class="footer-columns d-flex justify-content-between">
        <ul class="main-footer-groups 1">
          <li class="same-as-above-idek">
          </li>
        </ul>
        <ul class="main-footer-groups 2">
          <li class="same-as-above-idk">
            <br>
            <a style="color: #fff; text-decoration: none;" href="{% url 'aboutus' %}"><span style="padding-left: 20px;">About Us</span></a>
            <a style="text-decoration: none; color: #fff;" href="{% url 'products' %}"><span style="padding-left: 20px;">Contact Us</span></a>
            <a style="color: #fff; text-decoration: none;" href="{% url 'current' %}"><span style="padding-left: 20px;">Sell With Us</span></a>
            <a style="text-decoration: none; color: #fff;" href="{% url 'faq' %}"><span style="padding-left: 20px;">FAQ's</span></a>
            <a style="color: #fff; text-decoration: none;" href="{% url 'termsandconditions' %}"><span style="padding-left: 20px;">Terms And Conditions</span></a>
            <a style="color: #fff; text-decoration: none;" href="{% url 'privacypolicy' %}"><span style="padding-left: 20px;">Privacy Notice</span></a>

          </li>
        </ul>
        <ul class="main-footer-groups 3">
            <li class="same-as-above-idek">
            </li>
        </ul>
      </div>
    </div>
  
  </section>
    <script src="js/smooth-scroll.js"></script>
    <script>
        var scroll = new SmoothScroll('a[href*="#"]')
    </script>
    
</body>

</html>