<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/signup.css' %}">

  <!--<link rel="stylesheet" href="{% static 'css/signup.css' %}">-->
</head>
<body>
  <h1>Sign Up</h1>
  <form method="post">
    {% csrf_token %}  {{ form.as_p }}  
    <label for="show_password">Show Password<input type="checkbox" id="show_password"></label>
    <button type="submit">Sign Up</button>
  </form>
  <p class="centered-paragraph">By signing up you agree to our  <a href="{% url 'termsandconditions' %}" class="inline-link">terms and conditions</a></p>
  <p class="centered-paragraph">Already have an account? <a href="{% url 'login' %}" class="inline-link">Log In</a></p>
  <script src="{% static 'js/signup.js' %}"></script>
</body>
</html>
